<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito" rel="stylesheet">

    <script src="https://cdn.tailwindcss.com"></script>
    <script type="text/javascript" src="<c:url value="/resources/static/scripts/home.js" />" ></script>
</head>

<body>
<div>
    <!--    HEADER SECTION -->
    <header class="h-16 flex items-center max-w-[1200px] m-auto">
        <nav class="flex justify-between w-full px-6">
            <div class="flex items-center">
                <p class="text-xl font-semibold"> <a href="/" > E-Bikes </a> </p>
            </div>

            <ul class="flex">
                <li class="mr-8 flex items-center ">
                    <p class="text-base"> <a href="/"> Contact Support </a> </p>
                </li>

                <li class="mr-8 flex items-center">
                    <p class="text-base"> <a href="/"> Try Bikes </a> </p>
                </li>

                <li>
                    <a href="/login" >
                        <button class="bg-[#3C5924;] px-6 h-12 rounded text-[#fff]">
                            Management Console
                        </button>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <section>
        <h1> PURCHASE A BIKE </h1>
    </section>
</div>
</body>
</html>